body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.topo{
background:#7c3aed;
padding:20px;
}

.cartao{
width:350px;
margin:40px auto;
background:linear-gradient(135deg,#9333ea,#6d28d9);
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.tituloSaldo{
opacity:0.8;
}

.saldo{
font-size:40px;
margin-top:10px;
}

.acoes{
margin-top:20px;
}

input{
padding:10px;
border:none;
border-radius:8px;
margin-bottom:10px;
}

button{
padding:10px 15px;
border:none;
border-radius:10px;
margin:5px;
cursor:pointer;
font-weight:bold;
}

.depositar{
background:#22c55e;
color:black;
}

.debitar{
background:#ef4444;
}

.transferir{
background:#3b82f6;
}

button:hover{
transform:scale(1.05);
}

.historicoBox{
width:350px;
margin:30px auto;
background:#020617;
padding:20px;
border-radius:15px;
}

#historico{
text-align:left;
max-height:150px;
overflow-y:auto;
}