body{

margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1e1b4b,#020617);
color:white;
text-align:center;

}

.app{

max-width:420px;
margin:auto;
padding:20px;

}

.cartao{

background:linear-gradient(135deg,#9333ea,#4c1d95);

padding:30px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,0.6);

margin-bottom:30px;

}

.cartao h2{

font-size:40px;

}

.acoes{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-bottom:30px;

}

.acoes button{

background:#111827;

border:none;

color:white;

padding:15px;

border-radius:15px;

cursor:pointer;

display:flex;

flex-direction:column;

align-items:center;

gap:10px;

transition:0.3s;

}

.acoes button img{

width:28px;

}

.acoes button:hover{

background:#9333ea;

transform:scale(1.05);

}

.graficoArea{

background:#020617;

padding:20px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,0.6);

}